{% extends "visualizer/layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}

<div class="container text-center error-content">
  <div class="row">
    <div class="column back-box" style="padding: 35px;">
      <h3>About</h3>
      <p>Thank you for visiting vStock. This is a simple stock viewing app that's geared towards giving a strategic glance of a company's fundamentals. This is primarily built to practice programming, but with utility in mind. Currently, only U.S. companies are supported for viewing. Additionally, some of the company data may differ from other sources, or even a company's own filings, but this may be because non-GAAP measures were used. The company data provider for vStock uses GAAP measures, which are the standard accounting practices all U.S. companies must abide by law and report in.</p>
      <p>If you come across any bugs or would like to make suggestions, you can find me on <a href="https://github.com/Firgrep/" target="_blank">github</a> or <a href="https://www.linkedin.com/in/filip-niklas/" target="_blank">linkedin</a>.</p>
      <p>Some of the tickers currently in database.</p>
      <div class="d-flex">
        <dl class="mx-auto justify-content-center">
        {% for symbol in symbol_list|slice:":15" %}
          <dt style="float: left;"> &nbsp&nbsp{{ symbol }}</dt>
        {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>

{% endblock %}