{% extends "visualizer/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
  {% load static %}
  <section class="video-container">
    <video autoplay loop muted playsinline poster="{% static 'visualizer/ticker_background.png' %}">
      <source src="{% static 'visualizer/background_vid.mp4' %}" type="video/mp4">Video not supported
    </video>

    <div id="progressMessage" style="display:none; padding:5px; border:1px Solid #000">
      <div id="activityIndicator">&nbsp;</div>
      <label style="font:bold; display:block; padding:5px; text-align: centre;"
           id="progressMessageLbl">Searching database, loading and producing graphs... Please wait.</label>
    </div> <!-- Thanks to Yashika Garg from StackOverflow for the loading wheel code! -->

    <div class="intro-content">
      <div class="intro-text">
        <h1>vStock</h1>
        <h5><em>visualizing fundamental stock data</em></h5>
        <br>
      </div>
        <form action="" method="post">
          {% csrf_token %}
          {{ form }} 
        <input type="submit" value="Submit" onclick="showProgressCursor();" autofocus>
      </form>
    </div>

  </section>

  <div class="back-box" style="padding: 15px; margin: 0 35px;">
    <p>An issue persists where the graphs may not update as intended. This is due to the way static files are treated on the Heroku server. Several solutions are being considered: set up an external storage (e.g. AWS S3), find a new host with less ephemeral static files structure (e.g. Linode) or refactor the graph code to use a more direct frontend deployment (e.g. JavaScript) that avoids the need to store/update graph files altogether. None of these are quick fixes and there are trade-offs to consider with each. Meanwhile, please enjoy the visuals and the key data. I apologize for the inconvenience.</p>
  </div>
  
  <footer class="navbar fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <h5>Demo by Filip Niklas</h5>
      <img src="{% static 'visualizer/linkedin.png' %}" type="button" class="social-media-button" href="https://www.linkedin.com/in/filip-niklas/" target="_blank" alt="LinkedIn image"/>
      <img src="{% static 'visualizer/github.png' %}" type="button" class="social-media-button" href="https://github.com/Firgrep/" target="_blank" alt="Github image"/>
    </div>
  </footer>
{% endblock %}