{% extends "visualizer/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
  {% load static %}
  <section class="video-container">
    <video autoplay loop muted playsinline poster="{% static 'visualizer/ticker_background.webp' %}">
      <source src="{% static 'visualizer/background_vid.mp4' %}" type="video/mp4">Video not supported
    </video>

    <div id="progressMessage" style="display:none; padding:5px; border:1px Solid #000">
      <div id="activityIndicator">&nbsp;</div>
      <label style="font:bold; display:block; padding:5px; text-align: centre;"
           id="progressMessageLbl"></label>
    </div> <!-- Thanks to Yashika Garg from StackOverflow for the loading wheel code! -->

    <div class="intro-content">
      <div class="intro-text">
        <h1>vStock</h1>
        <h5><em>visualizing fundamental stock data</em></h5>
        <br>
      </div>
        <form action="" method="post">
          {% csrf_token %}
          {{ form }} 
        <input type="submit" value="Submit" onclick="showProgressCursor();" autofocus>
      </form>
    </div>

  </section>
  
  <footer class="navbar fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <h5>Demo by Filip Niklas</h5>
      <img src="{% static 'visualizer/linkedin.png' %}" type="button" class="social-media-button" href="https://www.linkedin.com/in/filip-niklas/" target="_blank" alt="LinkedIn image"/>
      <img src="{% static 'visualizer/github.png' %}" type="button" class="social-media-button" href="https://github.com/Firgrep/" target="_blank" alt="Github image"/>
    </div>
  </footer>
{% endblock %}