<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Simple stock viewing web app geared towards fundamental company data.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'visualizer/site.css' %}"/>
    <link rel="icon" href="{% static 'visualizer/favicon.ico' %}">
    <script delay src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script delay src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    {% block head %}{% endblock%}
  </head>

  <body>

    <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
              <a class="navbar-brand" href="{% url 'home' %}">vStock</a>
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse collapse" id="collapseNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" data-bs-toggle="offcanvas" role="button" href="#offCanvasUpdates">Updates</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="offcanvas" role="button" href="#offCanvasAbout">About</a>
                  </li>
                </ul>
              </div>
        </div>
      </nav>

    <div class="body-content" style="height: 100%">
      {% block content %}
      {% endblock %}
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offCanvasUpdates" aria-labelledby="offcanvasUpdates">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Updates</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          New in version 2.0!
          <ul>
            <li>New, more interactive and informative charts!</li>
            <li>
              {% load static%}
              The Price chart has been upgraded to include comparisons with the major indices. Click on it to see!
              <img class="img-fluid" src="{% static 'visualizer/update_example.webp' %}" style="border-radius: 0px;"/>
            </li>
            <li>Massive performance boost by changing how charts load.</li>
            <li>Improved responsiveness for smaller devices.</li>
            <li>Offcanvas side panels like this one! Minimizes the use of loading new pages.</li>
          </ul>
        </div>
        <div class="text-center p-3">
          <img src="{% static 'visualizer/linkedin.png' %}" type="button" class="social-media-button" href="https://www.linkedin.com/in/filip-niklas/" target="_blank" alt="LinkedIn image"/>
          <img src="{% static 'visualizer/github.png' %}" type="button" class="social-media-button" href="https://github.com/Firgrep/" target="_blank" alt="Github image"/>
        </div>
      </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvasAbout" aria-labelledby="offcanvasAbout">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">About</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <p>Thank you for visiting vStock. This is a simple stock viewing app that's geared towards giving a strategic glance of a company's fundamentals. This is primarily built to practice programming, but with utility in mind. Currently, only U.S. companies are supported for viewing. Additionally, some of the company data may differ from other sources, or even a company's own filings, but this may be because non-GAAP measures were used. The company data provider for vStock uses GAAP measures, which are the standard accounting practices all U.S. companies must abide by law and report in.</p>
          <p>If you come across any bugs or would like to make suggestions, you can find me on <a href="https://github.com/Firgrep/" target="_blank">github</a> or <a href="https://www.linkedin.com/in/filip-niklas/" target="_blank">linkedin</a>.</p>
          <p>Some of the tickers currently in database.</p>
          <div class="d-flex">
            <dl class="mx-auto justify-content-center">
            {% for symbol in symbol_list|slice:":10" %}
              <dt style="float: left;"> &nbsp&nbsp{{ symbol }}</dt>
            {% endfor %}
            </dl>
          </div>
          
          <div class="text-center p-3">
            {% load static%}
            <img src="{% static 'visualizer/linkedin.png' %}" type="button" class="social-media-button" href="https://www.linkedin.com/in/filip-niklas/" target="_blank" alt="LinkedIn image"/>
            <img src="{% static 'visualizer/github.png' %}" type="button" class="social-media-button" href="https://github.com/Firgrep/" target="_blank" alt="Github image"/>
          </div>
        
        </div>
      </div>
    </div>

    <script> 
      $('.image-toggler1').click(function(){
        $('.image-toggle1').hide();
        $($(this).attr('data-image-id')).show();
      });

      $('.image-toggler2').click(function(){
        $('.image-toggle2').hide();
        $($(this).attr('data-image-id')).show();
      });

      $("#switch-button").click(function() {
        if ($("#revenue_quarterly").hasClass("d-none")) {
          $("#revenue_quarterly").removeClass("d-none");
          $("#revenue_annual").addClass("d-none");
          $("#netincome_quarterly").removeClass("d-none");
          $("#netincome_annual").addClass("d-none");
          $("#earnings_quarterly").removeClass("d-none");
          $("#earnings_annual").addClass("d-none");

          $("#assets_liabilities_quarterly").removeClass("d-none");
          $("#assets_liabilities_annual").addClass("d-none");
          $("#debt_to_cash_quarterly").removeClass("d-none");
          $("#debt_to_cash_annual").addClass("d-none");
          $("#prices_quarterly").removeClass("d-none");
          $("#prices_annual").addClass("d-none");
        } else {
          $("#revenue_quarterly").addClass("d-none");
          $("#revenue_annual").removeClass("d-none");
          $("#netincome_quarterly").addClass("d-none");
          $("#netincome_annual").removeClass("d-none");
          $("#earnings_quarterly").addClass("d-none");
          $("#earnings_annual").removeClass("d-none");

          $("#assets_liabilities_quarterly").addClass("d-none");
          $("#assets_liabilities_annual").removeClass("d-none");
          $("#debt_to_cash_quarterly").addClass("d-none");
          $("#debt_to_cash_annual").removeClass("d-none");
          $("#prices_quarterly").addClass("d-none");
          $("#prices_annual").removeClass("d-none");
        }
      });

      $(".switch-button-modal").click(function() {
        var buttonId = $(this).data("button-id");
        var image1Id = $(this).data("image-1-id");
        var image2Id = $(this).data("image-2-id");
    
        if ($("#" + image1Id).hasClass("d-none")) {
          $("#" + image1Id).removeClass("d-none");
          $("#" + image2Id).addClass("d-none");
        } else {
          $("#" + image1Id).addClass("d-none");
          $("#" + image2Id).removeClass("d-none");
        }
      });

      function showProgressCursor()
      {
        $("#progressMessageLbl").html("Searching database, retrieving new data if needed... Please wait.");
        $("#progressMessage").show();
      }

    </script>

  </body>
</html>