{% extends "visualizer/layout.html" %}
{% block title %}
Ticker
{% endblock %}

{% block head %}
<script delay src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
{% load static %}
{{ overview|json_script:"overviewId" }}
<script delay type="module" src="{% static 'visualizer/ticker-script-main.js' %}"></script>
{% endblock %}

{% block content %}
{% load static %}
<br>
<div class="container back-box">
  <div class="holder">
    <div class="row">
      <div class="square-bg" style="align-items: center;">
        <div>
          <img src="data:image/png;base64, {{ overview.roic_graph|safe }}" id="roic_annual" class="img-fluid" alt="Roic Annual"/>
        </div>
      </div>

      <div class="square-bg">
        <div>
          <br>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="KeyData-tab" data-bs-toggle="tab" data-bs-target="#KeyData-tab-pane" type="button" role="tab" aria-controls="KeyData-tab-pane" aria-selected="true">Key Data</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="CompanyDesc-tab" data-bs-toggle="tab" data-bs-target="#CompanyDesc-tab-pane" type="button" role="tab" aria-controls="CompanyDesc-tab-pane" aria-selected="false">Description</button>
            </li>
          </ul>
          <br>
          <div class="tab-content" id="myTabContent" style="height: 645px">

            <div class="tab-pane fade show active" id="KeyData-tab-pane" role="tabpanel" aria-labelledby="KeyData-tab" tabindex="0">
              <h2>{{ overview.Name }} ({{ ticker }})</h2>
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2">{{ overview.AssetType }} ({{ overview.Currency }}) {{ overview.Exchange }}</td>
                    <td></td>
                    <td>{{ overview.Sector }}</td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>Market Cap: </strong>{{ overview.MarketCapitalization }}</td>
                    <td><strong>ROIC 5y: </strong>{{ overview.ReturnOnInvestedCapital }}%</td>
                    <td><strong>EPS: </strong>{{ overview.EPS }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>P/E(FWR): </strong>{{ overview.PERatio }} ({{ overview.ForwardPE }})</td>
                    <td><strong>P/S </strong>{{ overview.PriceToSalesRatioTTM }}</td>
                    <td><strong>P/B: </strong>{{ overview.PriceToBookRatio }}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td><strong>DPS: </strong>{{ overview.DividendPerShare }}</td>
                    <td><strong>Div. Yield: </strong>{{ overview.DividendYield }}%</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td><strong>Div. Date:<br>&nbsp</strong>{{ overview.DividendDate }}</td>
                    <td><strong>Ex. Div.:<br>&nbsp</strong>{{ overview.ExDividendDate }}</td>
                  </tr>
                  <tr>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>52 Week High:<br>&nbsp</strong>${{ overview.52WeekHigh }}</td>
                    <td><strong>52 Week Low:<br>&nbsp</strong>${{ overview.52WeekLow }}</td>
                    <td><strong>50 Day MA:<br>&nbsp</strong>${{ overview.50DayMovingAverage }}</td>
                    <td><strong>200 Day MA:<br>&nbsp</strong>${{ overview.200DayMovingAverage }}</td>
                  </tr>
                  <tr>
                    <td><strong>Beta </strong>{{ overview.Beta }}</td>
                    <td><strong>Last Price: </strong>${{ overview.LastPrice }}</td>
                    <td colspan="2"><strong>Analyst Target Price: </strong>${{ overview.AnalystTargetPrice }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade" id="CompanyDesc-tab-pane" role="tabpanel" aria-labelledby="CompanyDesc-tab" tabindex="0">
              <h2>{{ overview.Name }} ({{ ticker }})</h2>
              <ul style="list-style: none">
                <li><strong>Country: </strong>{{ overview.Country }}</li>
                <li><strong>Sector: </strong>{{ overview.Sector }}</li>
                <li><strong>Industry: </strong>{{ overview.Industry }}</li>
              </ul>
              <p style="padding-right: 25px; text-align: justify;">{{ overview.Description }}</p>
              <p>Address: {{ overview.Address }}</p>
            </div>
              
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="square text-center">
        <br>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-light btn-sml" id="switch-button">Annual/Quarterly</button>
        </div>  
      </div>  
    </div>

    {% comment %} <div style="height: 300px; width: 400px;">
    <canvas id="canvas_test" ></canvas>
    </div> {% endcomment %}

    <div class="row">
      <div class="square">
        <canvas id="revenue_annual" type="button" data-bs-toggle="modal" data-bs-target="#Ann_Rev_Modal" alt="Annual Revenue"></canvas>
        <canvas id="revenue_quarterly" type="button" data-bs-toggle="modal" data-bs-target="#Qua_Rev_Modal" alt="Quarterly Revenue" class="d-none"></canvas>
      </div>
      <div class="square">
        <canvas id="netincome_annual" type="button" data-bs-toggle="modal" data-bs-target="#Ann_NetIncome_Modal" alt="Net Income Annual"></canvas>
        <canvas id="netincome_quarterly" type="button"  data-bs-toggle="modal" data-bs-target="#Qua_NetIncome_Modal" alt="Net Income Quarterly" class="d-none"></canvas>  
      </div>
      <div class="square">
        <canvas id="earnings_annual" type="button" data-bs-toggle="modal" data-bs-target="#Ann_Earnings_Modal" alt="Earnings Annual"></canvas>
        <canvas id="earnings_quarterly" type="button"  data-bs-toggle="modal" data-bs-target="#Qua_Earnings_Modal" alt="Earnings Quarterly" class="d-none"></canvas>  
      </div> 
      <div class="square">
        <canvas id="assets_liabilities_annual" type="button" data-bs-toggle="modal" data-bs-target="#Ann_AssLia_Modal" alt="Annual Assets Liabilities"></canvas>
        <canvas id="assets_liabilities_quarterly" type="button" data-bs-toggle="modal" data-bs-target="#Qua_AssLia_Modal" alt="Quarterly Assets Liabilities" class="d-none"></canvas>
      </div>   
    </div>

    <div class="row">
      
      <div class="square">
        <img src="data:image/png;base64, {{ overview.debt_to_cash_annual_graph|safe }}" id="debt_to_cash_annual" type="button" class="img-fluid" data-bs-toggle="modal" data-bs-target="#Ann_DebtCash_Modal" alt="Debt to Cash Annual"/>
        <img src="data:image/png;base64, {{ overview.debt_to_cash_quarterly_graph|safe }}" id="debt_to_cash_quarterly" type="button" class="img-fluid d-none" data-bs-toggle="modal" data-bs-target="#Qua_DebtCash_Modal" alt="Debt to Cash Quarterly"/>  
      </div>
      <div class="square">
        <img src="data:image/png;base64, {{ overview.price_graph251|safe }}" id="prices_annual" type="button" class="img-fluid" data-bs-toggle="modal" data-bs-target="#Ann_Prices_Modal" alt="Prices 1y"/>
        <img src="data:image/png;base64, {{ overview.price_graph90|safe }}" id="prices_quarterly" type="button" class="img-fluid d-none" data-bs-toggle="modal" data-bs-target="#Qua_Prices_Modal" alt="Prices 90days"/>
      </div>   
    </div>

    <div class="row" style="text-align: justify; padding: 30px;">
      <p><em>Disclaimer: The information on this site, and its related publications, is not intended to be, nor does it constitute, investment advice or recommendations. In no event shall vStock be liable to any member, guest, or third party for any damages of any kind arising out of the use of any content or other material published or available on vstock.herokuapp.com, or relating to the use of, or inability to use, vstock.herokuapp.com or any content. The information on this site is not guaranteed for completeness, accuracy, or in any other way.</em></p>
    </div>
  </div>
</div>
<br>


  <!-- Modals -->
  <div class="modal fade" id="Ann_Rev_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Revenue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="1" data-image-1-id="image1-1" data-image-2-id="image2-1">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <canvas id="image1-1" alt="Annual Revenue"></canvas>
            <canvas id="image2-1" alt="Quarterly Revenue" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Qua_Rev_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Revenue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="2" data-image-1-id="image1-2" data-image-2-id="image2-2">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <canvas id="image1-2" alt="Quarterly Revenue"></canvas>
            <canvas id="image2-2" alt="Annual Revenue" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Ann_NetIncome_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Net Income</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="3" data-image-1-id="image1-3" data-image-2-id="image2-3">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <canvas id="image1-3" alt="Annual Net Income"></canvas>
            <canvas id="image2-3" alt="Quarterly Net Income" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Qua_NetIncome_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Net Income</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="4" data-image-1-id="image1-4" data-image-2-id="image2-4">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
          <canvas id="image1-4" alt="Quarterly Net Income"></canvas>
          <canvas id="image2-4" alt="Annual Net Income" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Ann_Earnings_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Earnings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="5" data-image-1-id="image1-5" data-image-2-id="image2-5">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <canvas  id="image1-5" alt="Annual Net Income"></canvas>
            <canvas id="image2-5" alt="Quarterly Net Income" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Qua_Earnings_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Earnings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="6" data-image-1-id="image1-6" data-image-2-id="image2-6">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
          <canvas id="image1-6" alt="Annual Net Income"></canvas>
          <canvas id="image2-6" alt="Quarterly Net Income" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Ann_AssLia_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Assets and Liabilities</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="7" data-image-1-id="image1-7" data-image-2-id="image2-7">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <canvas id="image1-7" alt="Annual Assets and Liabilities"></canvas>
            <canvas id="image2-7" alt="Quarterly Assets and Liabilities" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Qua_AssLia_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Assets and Liabilities</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="8" data-image-1-id="image1-8" data-image-2-id="image2-8">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <canvas id="image1-8" alt="Quarterly Assets and Liabilities"></canvas>
            <canvas id="image2-8" alt="Annual Assets and Liabilities" class="d-none"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Ann_DebtCash_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Debt to Cash</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="9" data-image-1-id="image1-9" data-image-2-id="image2-9">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
            <img src="data:image/png;base64, {{ overview.debt_to_cash_annual_graph|safe }}"  id="image1-9" class="img-fluid" alt="Annual Debt to Cash"/>
            <img src="data:image/png;base64, {{ overview.debt_to_cash_quarterly_graph|safe }}" id="image2-9" class="img-fluid d-none" alt="Quarterly Debt to Cash"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Qua_DebtCash_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Debt to Cash</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-info btn-sml switch-button-modal" data-button-id="10" data-image-1-id="image1-10" data-image-2-id="image2-10">Annual/Quarterly</button>
          </div>
          <div class="d-flex justify-content-center">
          <img src="data:image/png;base64, {{ overview.debt_to_cash_quarterly_graph|safe }}" id="image1-10" class="img-fluid" alt="Quarterly Debt to Cash"/>
          <img src="data:image/png;base64, {{ overview.debt_to_cash_annual_graph|safe }}" id="image2-10" class="img-fluid d-none" alt="Annual Debt to Cash"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Ann_Prices_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Price Series</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 500px;">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example" data-toggle="buttons">
              <button type="button" class="btn btn-info btn-sml image-toggler1" id="option1" data-image-id="#A_prices_1255">5 Years</button>
              <button type="button" class="btn btn-info btn-sml image-toggler1" id="option2" data-image-id="#A_prices_251">1 Year</button>
              <button type="button" class="btn btn-info btn-sml image-toggler1" id="option3" data-image-id="#A_prices_90">90 Days</button>
              <button type="button" class="btn btn-info btn-sml image-toggler1" id="option4" data-image-id="#A_prices_30">30 Days</button>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <img src="data:image/png;base64, {{ overview.price_graph1255|safe }}" id="A_prices_1255" class="img-fluid image-toggle1" alt="Prices 5y" style="display:none;"/>
            <img src="data:image/png;base64, {{ overview.price_graph251|safe }}" id="A_prices_251" class="img-fluid image-toggle1" alt="Prices 1y"/>
            <img src="data:image/png;base64, {{ overview.price_graph90|safe }}" id="A_prices_90" class="img-fluid image-toggle1" alt="Prices 90days" style="display:none;"/>
            <img src="data:image/png;base64, {{ overview.price_graph30|safe }}" id="A_prices_30" class="img-fluid image-toggle1" alt="Prices 30days" style="display:none;"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Qua_Prices_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Price Series</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-auto" style="width: 500px;">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example" data-toggle="buttons">
              <button type="button" class="btn btn-info btn-sml image-toggler2" id="option1" data-image-id="#B_prices_1255">5 Years</button>
              <button type="button" class="btn btn-info btn-sml image-toggler2" id="option2" data-image-id="#B_prices_251">1 Year</button>
              <button type="button" class="btn btn-info btn-sml image-toggler2" id="option3" data-image-id="#B_prices_90">90 Days</button>
              <button type="button" class="btn btn-info btn-sml image-toggler2" id="option4" data-image-id="#B_prices_30">30 Days</button>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <img src="data:image/png;base64, {{ overview.price_graph1255|safe }}" id="B_prices_1255" class="img-fluid image-toggle2" alt="Prices 5y" style="display:none;"/>
            <img src="data:image/png;base64, {{ overview.price_graph251|safe }}" id="B_prices_251" class="img-fluid image-toggle2" alt="Prices 1y" style="display:none;"/>
            <img src="data:image/png;base64, {{ overview.price_graph90|safe }}" id="B_prices_90" class="img-fluid image-toggle2" alt="Prices 90days"/>
            <img src="data:image/png;base64, {{ overview.price_graph30|safe }}" id="B_prices_30" class="img-fluid image-toggle2" alt="Prices 30days" style="display:none;"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    
{% endblock %}